VITE_SUPABASE_URL=https://ttfmrnymrovuccxsoixq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0Zm1ybnltcm92dWNjeHNvaXhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MDk0NzQsImV4cCI6MjA5MDQ4NTQ3NH0.iTBGIhgyhFl9vNXGfdWHldR96oB3huub14hPY033m1g
